# Вариант 6

### Будем работать с базой данных Olist Dataset о товарной экономике в Бразилии.

### Задание 0 

Нужно посчитать свой вариант:
• Вариант = ([Номер первой буквы фамилии] + [Номер первой буквы имени] + [Номер второй буквы логина Telegram] ) mod 7 + 1

p.s. латиница

(S + M + A) = (19 + 13 + 1) = 33

33 mod 7 = 5

5 + 1 = 6

итого 6 Вариант

Создадим database `src\create_database.sql`.

Подключимся к ней и создадим отношенения `src\create_tables.py`.

Создадим дополнительный скрипт для чтения результата работы SQL-запросов:

In [2]:
import os
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
def read_sql(filepath):
    engine = create_engine("postgresql://postgres:12345@localhost:5432/lab")
    
    with open(filepath, 'r', encoding='utf-8') as file:
        query = file.read()

    # Выполнение запроса и загрузка результата в DataFrame
    with engine.connect() as conn:
        df = pd.read_sql_query(text(query), conn)

    df.to_csv(f'../results/{os.path.splitext(os.path.basename(filepath))[0]}.txt', sep='\t', index=False)
    
    return df

### Задание 1

"Проанализируйте для города Белу-Оризонти распределение товаров электроника, мебель, игрушки по месяцам и объясните с чем
это связано."

Начнем с того, что выведем как в нашей схеме называет Белу-Оризонти:

In [ ]:
read_sql('C:/lab bd/src/task1_1.sql')

    customer_city
0      belo campo
1    belo oriente
2       belo vale
3     belo jardim
4  belo horizonte

Получили `belo horizonte`

Теперь напишем запрос, который покажет какое количество товаров было куплено в определенный месяц. 
Заметим, названия товаров внутри таблицы `olist_products_dataset` указаны на португальском, мы же знаем английское название, поэтому воспользуемся таблицей `product_category_name_translation` для корректного перевода. Также каждая строка в `olist_order_items_dataset` — это ровно одна единица товара в заказе.

In [ ]:
SELECT
    pt.product_category_name_english AS category,
    TO_CHAR(o.order_purchase_timestamp::timestamp, 'YYYY-MM') AS month,
    COUNT(*) AS total_sales
FROM olist_orders_dataset o
JOIN olist_customers_dataset c ON o.customer_id = c.customer_id
JOIN olist_order_items_dataset oi ON o.order_id = oi.order_id
JOIN olist_products_dataset p ON oi.product_id = p.product_id
JOIN product_category_name_translation pt ON pt.product_category_name = p.product_category_name
WHERE 
    c.customer_city = 'belo horizonte' AND 
    pt.product_category_name_english SIMILAR TO '(%electronics%|%furniture%|%toys%)'
GROUP BY 
    pt.product_category_name_english,
    TO_CHAR(o.order_purchase_timestamp::timestamp, 'YYYY-MM')
ORDER BY 
    pt.product_category_name_english,
    TO_CHAR(o.order_purchase_timestamp::timestamp, 'YYYY-MM');

In [ ]:
read_sql('C:/lab bd/src/task1.sql')

       category    month  total_sales
0   electronics  2017-03            3
1   electronics  2017-06            2
2   electronics  2017-07            3
3   electronics  2017-08            2
4   electronics  2017-09            2
..          ...      ...          ...
85         toys  2018-04            7
86         toys  2018-05            5
87         toys  2018-06            5
88         toys  2018-07            7
89         toys  2018-08            4

[90 rows x 3 columns]

**Что происходит в запросе:**
- в `SELECT` мы выбираем английское название категории, месяц покупки в формате «ГГГГ‑ММ» и количество купленных единиц

- `JOIN olist_customers_dataset c ON o.customer_id = c.customer_id` - объединяет таблицу заказов o с таблицей клиентов c, чтобы иметь у каждого заказа информацию о городе клиента.

- `JOIN olist_order_items_dataset oi` и  `JOIN olist_products_dataset` - подтягивает всю «линию» заказа и по ней информацию о продукте (категорию на португальском).

- `JOIN product_category_name_translation` -  с помощью таблицы перевода получаете колонку `pt.product_category_name_english` для названия на английском.

- `WHERE` - оставляет только те заказы, где клиент находится в Белу‐Оризонти (формат названия города был определен ранее), а категории являются либо электроникой, либо мебелью, либо игрушками.

- `GROUP BY / ORDER BY` - группирует по категории и месяцу, затем сортирует результат сначала по категории, потом по месяцу (для удобства представления).

Проанализируем полученные результаты с помощью графиков. Код для построения графиков вы можете увидеть в `src\scripts\task1.py`:
* **Электроника**:

    <img src="../results/task1_images/electronics.png" width="600" />

    1) Первые продажи начались с марта 2017, возможно это связано с появлением электорники на маркетплейсе Olist весной 2017 в Белу-Оризонти. В связи с чем весной покупатели выбирали электронику не так активно, как в последуюшие месяцы.

    2) В период с июня по сентябрь мы видим стабильные объемы продаж по 2-3 единицы в месяц. В Бразилии в это время зимние месяцы, поэтому особых нужд в покупке электроники нет, а графики продаж тепловых установок и обогревателей мы не рассматриваем. 

    3) Начиная с ноября, продажи электроники стали расти и в январе достигли своего пика. Вероятно, это связано с сезонными распродажами на маркетплейсах ("Черная пятница" в конце ноября и предновогодняя распродажа - люди берут электронику в качестве подарка на Новый год и Рождество). 

    4) После января продажи начали уменьшаться и достигли локального минимума в апреле 2018 - «межквартальный» месяц. Возможно это связано с отсутсвием сезонных распродаж и тем, что спрос на электронику падает после праздников (ближайщий праздник был в конце марта 2018 - Пасха).

    5) В мае 2018 продажи стабилизировались и держали уровень до августа 2018 года. В мае происходит пополнение складов, привоз новых товаров, что подгревает спрос потребителя. Спад августа 2018 может не означать действительный спад продаж. Август 2018 года - последний месяц сбора статистики покупок, дата крайнего заказа `2018-08-10`, поэтому о спаде с точки зрения экономики здесь говорить нельзя.

* **Игрушки**:

    <img src="../results/task1_images/toys.png" width="600" />

    1) Первые продажи начались с октября 2016, возможно это связано с появлением игрушек на маркетплейсе Olist осенью 2016 в Белу-Оризонти. В связи с чем в первые месяцы продаж покупатели покупали игрушки не так активно, как в последуюшие месяцы. Стабильные продажи игрушек начались с марта 2017.

    2) После марта 2017 продажи игрушек начали медленно расти и достигли пика в декабре. Это связано с ростом популярности данного маркетплейса в разделе игрушки, а декабрьский пик обусловлен покупкой подарков детям на Новый год и Рождество. 

    3) В январе 2018 произошел эффект "пересыщения", так как все игрушки детям были куплены в прошлом месяце.

    4) Далее с февраля по август 2018 — умеренно стабильный спрос (5–9 единиц в месяц). Это показывает, что игрушки становятся регулярной категорией покупок, а не только сезонной.


--> Так как мебель бывает различной (для кухни, для спальной, декоративная мебель, и т.п.) было принято решение рассмотреть каждый вид по отдельности. 

* **Категории `furniture_bedroom, furniture_living_room, furniture_mattress_and_upholstery, kitchen_dining_laundry_garden_furniture`** можно объединить в одну группу, так как данные товары люди покупают только при необходимости, например, когда предыдущая вещь сломалась. Поэтому распределение товаров по месяцам случайное и зависит только от личных потребностей покупателей:

    <div style="display: flex; align-items: center; margin-bottom: 10px;">
    <img src="../results/task1_images/furniture_bedroom.png" width="500" style="margin-right:10px;" />
    <img src="../results/task1_images/furniture_living_room.png" width="500" />
    </div>
    <div style="display: flex; align-items: center;">
    <img src="../results/task1_images/furniture_mattress_and_upholstery.png" width="500" style="margin-right:10px;" />
    <img src="../results/task1_images/kitchen_dining_laundry_garden_furniture.png" width="500" />
    </div>
     

* **Мебель для офиса `office_furniture`**:

    <img src="../results/task1_images/office_furniture.png" width="600" />

    1) Первые продажи начались с февраля 2017, возможно это связано с появлением офисной мебелью на маркетплейсе Olist в Белу-Оризонти.
    2) В марте был локальный пик продаж, так как люди закупали необходимую мебель для офисов после отпусков. Поэтому в апреле произошел произошел эффект "пересыщения", так как все необходимые товары для работы были куплены в прошлом месяце.
    3) С мая по август продажи снижаются и доходят до локального минимума в августе-сентябре. Возможно это связано с тем, что в это время у людей сезон отпусков.
    4) С октября по декабрь 2017 снова начался рост продаж, а в январе и феврале продажи упали, что связано с новогодними праздниками.
    5) Абсолютный максимум - 7 единиц, был достигнут в марте 2018. Замечая цикличность события в течении года (локальный максимум в марте 2017) стоит предположить  о начале рабочего периода после отпусков. Дальнейшее развитие продаж преобретает сезонный характер с циклом в год.

* **Декоративная мебель `furniture_decor`**:

    <img src="../results/task1_images/furniture_decor.png" width="600" />

    1) Первые продажи начались с октября 2016, возможно это связано с появлением декоративной мебелью на маркетплейсе Olist в Белу-Оризонти.
    2) Мы видим сезонность покупок декоративной мебели с периодов в год. Локальные максимумы происходят в март-апрель, когда в Бразилии проходит ежегодный каранавал. Соответсвенно пик продаж был в марте 2017, затем рост с апреля 2017 до марта 2018 и дальнеший спад спроса.

### Задание 2

"Определите категории товаров, которые чаще всего попадают в отмененные заказы штата Рио-де-Жанейро."

С одной стороны, "чаще" означает абсолютное количество раз, когда товары определённой категории фигурировали в отменённых заказах.

In [ ]:
SELECT
    pt.product_category_name_english AS category,
    COUNT(*) AS cancelled_count
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 2) AS percentage
FROM olist_orders_dataset o
JOIN olist_customers_dataset c ON o.customer_id = c.customer_id
JOIN olist_order_items_dataset oi ON o.order_id = oi.order_id
JOIN olist_products_dataset p ON oi.product_id = p.product_id
JOIN product_category_name_translation pt ON p.product_category_name = pt.product_category_name
WHERE 
    o.order_status = 'canceled' AND c.customer_state = 'RJ'
GROUP BY 
    pt.product_category_name_english
ORDER BY 
    cancelled_count DESC;

In [ ]:
read_sql('C:/lab bd/src/task2_v1.sql')

                                   category  cancelled_count  percentage_%
0                                housewares                9         13.43
1                           furniture_decor                8         11.94
2                                      toys                7         10.45
3                             health_beauty                5          7.46
4                                 perfumery                4          5.97
5                            sports_leisure                4          5.97
6                     computers_accessories                3          4.48
7                                stationery                3          4.48
8                                cool_stuff                3          4.48
9                    books_general_interest                3          4.48
10                            watches_gifts                2          2.99
11                           bed_bath_table                2          2.99
12                          fixed_telephony                2          2.99
13                             garden_tools                2          2.99
14                                 pet_shop                2          2.99
15                         office_furniture                1          1.49
16                      luggage_accessories                1          1.49
17                                     auto                1          1.49
18  kitchen_dining_laundry_garden_furniture                1          1.49
19                           consoles_games                1          1.49
20                                telephony                1          1.49
21                       christmas_supplies                1          1.49
22                      musical_instruments                1          1.49

**Что происходит в запросе:**

- `SELECT` — выбирает название категории товара на английском и считаем, сколько раз она встречается среди отменённых заказов.

- `JOIN olist_customers_dataset c` — связывает таблицу заказов с таблицей клиентов, чтобы получить, из какого штата заказ.

- `JOIN olist_order_items_dataset oi` и  `JOIN olist_products_dataset` - подтягивает всю «линию» заказа и по ней информацию о продукте (категорию на португальском).

- `JOIN product_category_name_translation` -  с помощью таблицы перевода получаете колонку `pt.product_category_name_english` для названия на английском.

- `WHERE` - оставляет только только отменённые заказы, сделанные клиентами из штата Рио-де-Жанейро (RJ).

- `GROUP BY / ORDER BY` - группирует по категории и сортирует по убыванию количества отмен — то есть первыми идут те категории, которые чаще всего отменялись.

С помощью `src/task2_v1.py` построим круговую диаграмму:


<img src="../results/task2_images/cancelled_categories_rj.png" width="800" />

Но такой подход не удобен, так как заказов в категории может быть много и по сравнении с общим количеством доля отмен может быть мала. Поэтому будем рассматривать "чаще" c другой стороны, и оно означает % отмен по категории (cancel rate).

In [ ]:
SELECT
    pt.product_category_name_english AS category,
    COUNT(*) FILTER (WHERE o.order_status = 'canceled') AS cancelled_count,
    COUNT(*) AS total_orders,
    ROUND(COUNT(*) FILTER (WHERE o.order_status = 'canceled') * 100.0 / COUNT(*), 2) AS cancel_rate_percent
FROM olist_orders_dataset o
JOIN olist_customers_dataset c ON o.customer_id = c.customer_id
JOIN olist_order_items_dataset oi ON o.order_id = oi.order_id
JOIN olist_products_dataset p ON oi.product_id = p.product_id
JOIN product_category_name_translation pt ON p.product_category_name = pt.product_category_name
WHERE 
    c.customer_state = 'RJ'
GROUP BY 
    pt.product_category_name_english
ORDER BY 
    cancel_rate_percent DESC;

In [ ]:
read_sql('C:/lab bd/src/task2_v2.sql')

,category,cancelled_count,total_orders,cancel_rate_percent
0,christmas_supplies,1,15,6.67
1,fixed_telephony,2,36,5.56
2,books_general_interest,3,57,5.26
3,kitchen_dining_laundry_garden_furniture,1,47,2.13
4,musical_instruments,1,80,1.25
...,...,...,...,...
63,electronics,0,437,0.00
64,fashio_female_clothing,0,2,0.00
65,fashion_bags_accessories,0,200,0.00
66,fashion_childrens_clothes,0,1,0.00
67,fashion_male_clothing,0,12,0.00

С помощью `src/task2_v2.py` построим круговую диаграмму:


<img src="../results/task2_images/cancelled_categories_rj_2.png" width="800" />

Наблюдаем, что некоторые категории имеют статистически аномальную долю отмен заказов (cancel rate). Используя проверку гипотез и расчет p-value, определим их.

Нулевая гипотеза ($H_0$): Cancel rate этой категории = общему.

Альтернативная гипотеза ($H_1$): Cancel rate категории ≠ общему.

С помощью `src/task2_stat.py` вычислим z-статистики и p-value для z-теста:

In [8]:
import pandas as pd
import numpy as np
from scipy.stats import norm

df = pd.read_csv('C:/lab bd/results/task2_v2.txt', sep='\t', encoding='utf-8')
df.columns = ['category', 'cancelled_count', 'total_orders', 'cancel_rate_percent']

# Общая средняя доля отмен (по всем категориям)
p_global = df['cancelled_count'].sum() / df['total_orders'].sum()

# Вычисление z-статистики и p-value для z-теста 
def z_test(row):
    p_cat = row['cancel_rate_percent'] / 100
    n = row['total_orders']
    se = (p_global * (1 - p_global) / n) ** 0.5
    z = (p_cat - p_global) / se
    p_value = 2 * (1 - norm.cdf(abs(z)))
    return pd.Series([z, p_value])

df[['z_score', 'p_value']] = df.apply(z_test, axis=1)

# Добавим значимость
df['significant_5%'] = df['p_value'] < 0.05
significant = df[df['significant_5%']]

# Сортировка по p-value
significant = significant.sort_values('p_value')
print(significant[['category', 'cancel_rate_percent', 'z_score', 'p_value', 'significant_5%']])

                  category  cancel_rate_percent   z_score       p_value  \
2   books_general_interest                 5.26  5.308781  1.103608e-07
1          fixed_telephony                 5.56  4.483054  7.358222e-06
0       christmas_supplies                 6.67  3.524471  4.243292e-04
5                     toys                 1.20  2.601448  9.283103e-03
6               housewares                 1.03  2.446646  1.441922e-02
22          bed_bath_table                 0.12 -2.063039  3.910897e-02

    significant_5%
2             True
1             True
0             True
5             True
6             True
22            True

Получается, что статистически значимы (p-value < 0.05):

`books_general_interest, fixed_telephony, christmas_supplies, toys, housewares, bed_bath_table`

- Эти категории сильно отклоняются от общей нормы по отменам.

- Остальные отклонения не являются статистически подтверждёнными.

### Задание 3

"Определите средний чек клиента для штатов Сан-Паулу и Пернамбуку."

- штат Сан-Паулу = SP

- штат Пернамбуку = PE

In [ ]:
SELECT
    c.customer_state AS state,
    ROUND(AVG(op.payment_value)::numeric, 2) AS avg_sales_receipt
FROM olist_order_payments_dataset op
JOIN olist_orders_dataset o ON op.order_id = o.order_id
JOIN olist_customers_dataset c ON o.customer_id = c.customer_id
WHERE 
    c.customer_state IN ('SP', 'PE')
GROUP BY 
    c.customer_state
ORDER BY 
    avg_sales_receipt DESC;

In [ ]:
read_sql('C:/lab bd/src/task3.sql')

  state  avg_sales_receipt
0    PE             187.99
1    SP             137.50

**Что происходит в запросе:**

* `SELECT` — выбирает название штата и среднее по рассчитывает среднее значение чека.

* `JOIN olist_orders_dataset o` — соединяет с таблицей заказов, чтобы понять, к какому клиенту привязан платёж.

* `JOIN olist_customers_dataset` - подтягивает «линию» заказа и по ней информацию о штате.

* `WHERE` - оставляет только только заказы клиентов из Сан-Паулу (SP) и Пернамбуку (PE).

* `ORDER BY` - сортирует результаты по убыванию среднего чека.

### Задание 4

"Исследуйте долю пользователей, которые с момента первого заказа в течение 30 дней совершили еще один заказ."

Будем рассматривать долю пользователей, которые совершили еще одну покупку в течение месяца после предыдущей покупки, от всего количества совершенных покупок в данном месяце.

In [ ]:
WITH first_order AS (
    SELECT
        c.customer_unique_id as customer_uid,
        MIN(o.order_purchase_timestamp::timestamp) AS first_order_date
    FROM olist_customers_dataset c
    JOIN olist_orders_dataset o ON o.customer_id = c.customer_id
    GROUP BY customer_unique_id
    ORDER BY first_order_date
),
second_order AS (
    SELECT
        f.customer_uid,
        f.first_order_date,
        MIN(o.order_purchase_timestamp::timestamp) AS second_order_date
    FROM first_order f
    JOIN olist_customers_dataset c ON 
        c.customer_unique_id = f.customer_uid
    JOIN olist_orders_dataset o ON 
        o.customer_id = c.customer_id
        AND o.order_purchase_timestamp::timestamp > f.first_order_date::timestamp
        AND o.order_purchase_timestamp::timestamp <= f.first_order_date::timestamp + INTERVAL '30 days'
    GROUP BY 
        f.customer_uid,
        f.first_order_date
)
SELECT
    TO_CHAR(f.first_order_date, 'YYYY-MM') AS order_month,
    COUNT(DISTINCT f.customer_uid)  AS count_customers,
    COUNT(DISTINCT s.customer_uid)  AS repeaters_30d,
    ROUND(100.0 * COUNT(DISTINCT s.customer_uid) /
        NULLIF(COUNT(DISTINCT f.customer_uid), 0), 2) AS pct_repeat_within_30d
FROM first_order f
LEFT JOIN second_order s ON f.customer_uid = s.customer_uid
GROUP BY 1
ORDER BY 1;

**Что происходит в запросе:**

* `WITH first_order AS (…)` — формирует временную таблицу с каждым клиентом и датой его первого заказа.

    * `MIN(o.order_purchase_timestamp)` - выбирает самую раннюю дату заказа для каждого customer_unique_id.

    * `JOIN olist_customers_dataset` и `olist_orders_dataset` - объединяют информацию о клиентах и их заказах.

* `WITH second_order AS (…)` — формирует временную таблицу с датой первого повторного заказа в пределах 30 дней для каждого клиента.

    * Берётся временная таблица `first_order f` и снова соединяется с `JOIN olist_customers_dataset c ON c.customer_unique_id = f.customer_uid`, чтобы получить все последующие заказы данного клиента.

    * `JOIN olist_orders_dataset o` - объединяет информацио о заказе:

        * `o.customer_id = c.customer_id` - берет пользователя

        * `o.order_purchase_timestamp::timestamp > f.first_order_date::timestamp` - отсекает сам первый заказ
        
        * `o.order_purchase_timestamp::timestamp <= f.first_order_date::timestamp + INTERVAL '30 days'` - оставляет только заказы в зоне 30-дневного окна.

    * `MIN(o.order_purchase_timestamp)` - выбирает самую раннюю дату повторного заказа.

    * `GROUP BY f.customer_uid, f.first_order_date` - группирует данные для вывода по одной записи на клиента с указанным `second_order_date`.

* `JOIN olist_customers_dataset` - подтягивает «линию» заказа и по ней информацию о штате.

* `WHERE` - оставляет только только заказы клиентов из Сан-Паулу (SP) и Пернамбуку (PE).

* `ORDER BY` - сортирует результаты по убыванию среднего чека.

* `SELECT TO_CHAR(f.first_order_date, 'YYYY-MM') AS order_month` — преобразует дату первого заказа к формату «ГГГГ-ММ», чтобы сгруппировать клиентов по месяцам.

* `COUNT(DISTINCT f.customer_uid) AS count_customers` — подсчитывает общее число (уникальных) покупателей, совершивших заказ в данном месяце.

* `COUNT(DISTINCT s.customer_uid) AS repeaters_30d` — подсчитывает число тех же клиентов, у которых был повторный заказ в течение 30 дней, то есть месяца.

* `ROUND(100.0 * COUNT(DISTINCT s.customer_uid) / NULLIF(COUNT(DISTINCT f.customer_uid), 0), 2) AS pct_repeat_within_30d` — вычисляет долю пользователей, которые совершили еще одну покупку в течение месяца после предыдущей покупки.

* `LEFT JOIN second_order s ON f.customer_uid = s.customer_uid` — совмещает клиентов из двух временных таблиц.

* `GROUP BY 1` и `ORDER BY 1 ` — группирует результаты по полю `order_month` и сортирует по возрастанию.

**Результат данного запроса:**

In [ ]:
read_sql('C:/lab bd/src/task4.sql')

   order_month  count_customers  repeaters_30d  pct_repeat_within_30d
0      2016-09                4              0                   0.00
1      2016-10              321              3                   0.93
2      2016-12                1              1                 100.00
3      2017-01              764             22                   2.88
4      2017-02             1752             22                   1.26
5      2017-03             2636             42                   1.59
6      2017-04             2352             30                   1.28
7      2017-05             3596             66                   1.84
8      2017-06             3139             56                   1.78
9      2017-07             3894             67                   1.72
10     2017-08             4184             70                   1.67
11     2017-09             4130             69                   1.67
12     2017-10             4470             65                   1.45
13     2017-11             7304            108                   1.48
14     2017-12             5487             51                   0.93
15     2018-01             7025             93                   1.32
16     2018-02             6451            128                   1.98
17     2018-03             6965             86                   1.23
18     2018-04             6711             66                   0.98
19     2018-05             6622             67                   1.01
20     2018-06             5940             35                   0.59
21     2018-07             6071             70                   1.15
22     2018-08             6271             44                   0.70
23     2018-09                5              0                   0.00
24     2018-10                1              0                   0.00

In [ ]:
import pandas as pd

df = pd.read_csv('C:/lab bd/results/task4.txt', sep='\t', encoding='utf-8')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
count_customers,25.0,3843.8400,2603.185447,1.0,1752.00,4130.00,6271.00,7304.0
repeaters_30d,25.0,50.4400,35.061945,0.0,22.00,56.00,69.00,128.0
pct_repeat_within_30d,25.0,5.1776,19.765595,0.0,0.93,1.28,1.67,100.0

Из визуального анализа таблицы можно сделать следующие выводы:

* В сентябре 2016, декабре 2016, сентябре и октябре 2018 очень маленькое количество клиентов (по 1–5), поэтому показатели `pct_repeat_within_30d` здесь ненадёжны и скорее отражают статистический шум. Это вероятно связано с недоставерностью имеющихся данных, так как показатели `count_customers` отличаются от среднего значения более чем в 600 раз.

Поэтому уберем эти данные:

In [21]:
df = df[df['count_customers'] > 10]
df.to_csv(f'../results/task4_new.txt', sep='\t', index=False)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
count_customers,21.0,4575.476190,2149.194771,321.00,3139.00,4470.00,6451.00,7304.00
repeaters_30d,21.0,60.000000,29.587159,3.00,42.00,66.00,70.00,128.00
pct_repeat_within_30d,21.0,1.401905,0.510202,0.59,1.01,1.32,1.67,2.88

С помощью `src/task4.py` постороим столбчатую диаграмму "Повторных заказов в течение 30 дней":


<img src="../results/task4_images/repeaters_30d.png" width="800" />

Исходя из графика можно сделать вывод:

* В данных слабая конверсия повторных покупок при росте базы покупателей. Так резкий рост общего количества клиентов не сопровождается пропорциональным ростом числа повторных покупокв течение 30 дней. Возможно, это связано с отсутствием схем удеражания клиентов.

* На графике заметны сезонные пики. Так в ноябре 2017 был пик количества покупателей и количества повторных покупок, вероятно связанных с сезонной распродажей ("Black friday").

Хотя клиентская база растет (в пике достигает более 7 тыс. клиентов), абсолютные значения повторов сконцентрированы в узком диапазоне (≈40–100). Это значит, что маркетплейса Olist отсутствуют инициативы для удеражания клиентов и им нужно развиваться в этом направлении.